@model GamingGroove.Views.ComunidadePage.ComunidadePageViewModel
@using System.Security.Claims

@{
	ViewData["Title"] = "ComunidadePage";
}

<title>Comunidades</title>
<link rel="stylesheet" href="~/css/ComunidadePage.css" asp-append-version="true" />






