@model GamingGroove.Models.UsuarioModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/PerfilPageStyles/PerfilPageEdit.css" asp-append-version="true" />

<form class="main-container" asp-controller="PerfilPage" asp-action="Edit" enctype="multipart/form-data">
    
    <input type="hidden" asp-for="usuarioId" />
    <div class="edit-container">
        <div class="accountInformations" style="display: none;">
            <div class="accountInformations-label">Dados da conta</div>
            <div class="userData-input">
                <label asp-for="nomeUsuario"></label>
                <input asp-for="nomeUsuario" readonly/>
            </div>
            <div class="userData-input">
                <label asp-for="nomeCompleto"></label>
                <input asp-for="nomeCompleto" readonly/>
            </div>
            <div class="userData-input">
                <label asp-for="dataNascimento"></label>A
                <input asp-for="dataNascimento" readonly/>
            </div>
            <div class="userData-input">
                <label asp-for="email"></label>
                <input asp-for="email" readonly/>
            </div>
            <div class="userData-input">
                <label asp-for="senha"></label>
                <input asp-for="senha" readonly/>
            </div>
        </div>
        
        <div class="editProfile-container">
            <div class="firstSection-container">

                @{
                    var background = "#c6c6c6;";
                }
                @if (Model.capaPerfil != null)
                {
                    background = "url('data:image/png;base64," + Convert.ToBase64String(Model.capaPerfil) + "') no-repeat center center / cover";
                }
                <div class="cover-preview" style="background: @background;">
                    @if (Model.iconePerfil != null)
                    {
                        <img class="profilePic" src="data:image/png;base64,@Convert.ToBase64String(Model.iconePerfil)" alt="Imagem de Perfil" />
                    }
                    else
                    {
                        <img class="profilePic" src="~/images/icons/user-icon.png" alt="Imagem de Perfil Padrão" style= "background-color: white;" />
                    }
                </div>   
            </div>
            <div class="secondSection-container">
                <div class="favGames-container">
                    <div class="imageInput-container">
                        <div>Selecione suas imagens de perfil:</div>
                        <div class="profileIcon-input-container">
                            <div class="profileImage-input">
                                <label class="imageInput" for="profileIcon-input"><img class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Ícone de perfil</label>
                                <input asp-for="iconePerfil" id="profileIcon-input" name="profileIcon-input" type="file" name="iconePerfilArquivo"/>
                                <span asp-validation-for="iconePerfil" class="text-danger"></span>
                            </div>                        
                        </div>
                        <div class="profileCover-input-container">
                            <div class="profileImage-input">
                                <label class="imageInput" for="profileCover-input"><img  class="uploadIcon" src="~/images/icons/upload-icon.svg" alt="">Imagem de capa</label>
                                <input asp-for="capaPerfil" id="profileCover-input" name="profileCover-input" type="file" name="capaPerfilArquivo"/>
                                <span asp-validation-for="capaPerfil" class="text-danger"></span>
                            </div>                        
                        </div>
                    </div>
                    <div class="favGames-label-container">
                        <div class="favGames-label">Selecione seus três jogos favoritos:</div>
                        <div class="favGames-alert">@ViewBag.Message</div>
                    </div>
                    
                    <div class="form-group">
                        <select asp-for="primeiroJogo" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
                    </div>
                    <div class="form-group">
                        <select asp-for="segundoJogo" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
                    </div>
                    <div class="form-group">
                        <select asp-for="terceiroJogo" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
                    </div>   
                </div>
                <div class="biography">
                    <div>Fale um pouco sobre você:</div>
                    <div class="form-group">
                        <textarea asp-for="biografia" class="form-control bio-text" rows="10"></textarea>
                        <span asp-validation-for="biografia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <button class="submit-button" href="~/PerfilPage/@User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value">Cancelar</button>
                <button class="submit-button" type="submit">Salvar alterações</button>
            </div>
        </div>
    </div>


    

</form>

