@model GamingGroove.Models.PublicacaoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PublicacaoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuarioId" class="control-label"></label>
                <select asp-for="usuarioId" class ="form-control" asp-items="ViewBag.usuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="comunidadeId" class="control-label"></label>
                <select asp-for="comunidadeId" class ="form-control" asp-items="ViewBag.comunidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="textoPublicacao" class="control-label"></label>
                <input asp-for="textoPublicacao" class="form-control" />
                <span asp-validation-for="textoPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="midiaPublicacao" class="control-label"></label>
                <input asp-for="midiaPublicacao" class="form-control" />
                <span asp-validation-for="midiaPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
