@model GamingGroove.Views.Shared.ViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "EquipePage";
}

<title>Página de Equipes</title>
<link rel="stylesheet" href="~/css/EquipePage.css" asp-append-version="true" />

<div class="main-container">
    <div class="left-container">
        <div class="minhasEquipes">
            <div class="listTitle">Minhas Equipes</div>
            <div class="teamsList">
                @if (Model.getEquipesUsuario == null)
                {
                    <div>Você ainda não faz parte de equipes.</div>
                }
                else
                {
                    @foreach (var item in Model.getEquipesUsuario)
                    {

                        int _comunidadeIdCadaComunidade = item.equipe.equipeId;
                        int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
                        <a href="~/ComunidadePage/@item.equipe.nomeEquipe">
                            <div class="teams-items">
                                @if (item.equipe.iconeEquipe != null)
                                {
                                    <img class="list-communityIcon" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
                                }
                                else
                                {
                                    <img class="list-communityIcon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                }
                                <div class="communityInfo-container">
                                    <div class="communityName">@item.equipe.nomeEquipe</div>
                                    <div class="list-numberOfMembers">@numberOfMembersEachCommunity membros</div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

   

        
    

    <div class="center-container">
        <div class="search-bar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="botao"  type="submit"><img class="imagem" src="~/images/icons/search-icon.svg" /></button>
            </form>
            </div>
    

        <div class="container-card">
            @foreach (var item in Model.getEquipes)
            {
                int _comunidadeIdCadaComunidade = item.equipeId;

                int numberOfMembersEachCommunity = Model.GetNumberOfMembersInCommunity(_comunidadeIdCadaComunidade);
                <div class="card">
                    @if (item.iconeEquipe != null)
                    {
                        <img class="team-icon" src="data:image/png;base64,@Convert.ToBase64String(item.iconeEquipe)" />
                    }
                    else
                    {
                        <img class="team-icon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                    }
                    <div class="container-info">
                       <div class="teamName">@item.nomeEquipe</div>
               
                        <div class="teamGame">@item.jogoEquipe</div>
                    </div>

                        <div class="listnumberOfMembers">@numberOfMembersEachCommunity membros</div>
                    </div>
                
            }
    </div>
    </div>

    <div class="right-container">
        <div class="newCommunity-container">
            <div class="newCommunity-title">Crie uma nova equipe</div>
            <a asp-action="Create"><button class="newCommunity-button">Criar</button></a>
        </div>
    </div>


        
    </div>





   



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <script src="~/js/EquipePage.js"></script>


