@model GamingGroove.Views.EquipePage.EquipePageViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "EquipePage";
}

<title>Document</title>
<link rel="stylesheet" href="~/css/EquipePage.css" asp-append-version="true" />

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
        @foreach (var item in Model.getEquipesUsuario)
        {
            <td>@item.equipe.nomeEquipe</td>
            <td>@item.equipe.jogoEquipe</td>
            <td>@item.equipe.descricaoEquipe</td>
        }
        <br>
        <br>
        <br>
        @foreach (var item in Model.getEquipes)
        {
            <td>@item.nomeEquipe</td>
        }
        </div>
    </div>
</div>