@model GamingGroove.Views.EquipePage.EquipePageViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "EquipePage";
}

<title>Página de Equipes</title>
<link rel="stylesheet" href="~/css/EquipePage.css" asp-append-version="true" />

<div class="container text-center">
    <!-- Barra de pesquisa -->
    <div class="row align-items-start">
        <div class="my-4 search-bar">
            <form action="#" method="get" class="d-flex justify-content-center">
                <input type="text" id="searchInput" class="form-control" placeholder="Digite para buscar...">
                <button type="submit" class="btn btn-primary ml-2">
                    <i class="icon-uniF002"></i>
                </button>
            </form>
        </div>
    </div>

    <!-- Cards das equipes -->
    <div class="container-custom">
        <div class="column-custom">
            @foreach (var item in Model.getEquipes)
            {
                <div class="card-custom mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="./images/icons/crash.jpg" class="card-img" alt="@item.nomeEquipe">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body-custom">
                                <h5 class="card-title">@item.nomeEquipe</h5>
                                <p class="card-subtitle mb-2 text-muted">@item.jogoEquipe</p>
                                <p class="card-text">@item.descricaoEquipe</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    
        </div>
   




   



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <script src="~/js/EquipePage.js"></script>


