@model GamingGroove.Views.Shared.ViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "EquipePage";
}

<title>Página de Equipes</title>
<link rel="stylesheet" href="~/css/EquipePage.css" asp-append-version="true" />

<div class="main-container">
    <div class="left-container">
        <div class="lfCamada1">

            <h5>Minhas Equipes</h5>
            <div class="lfCamada2">
                
                        @foreach (var item in Model.getEquipesUsuario)
                        {
                    <div class="myTeams">
                            @if (item.equipe.iconeEquipe != null)
                            {
                                <img class="team-icon2" src="data:image/png;base64,@Convert.ToBase64String(item.equipe.iconeEquipe)" alt="Imagem de Perfil" />
                            }
                            else
                            {
                                <img class="team-icon2" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                            }

                            
                                <td>@item.equipe.nomeEquipe</td> 
                    </div>


                            
                        }
                

             </div>
        </div>
    </div>

        
    

    <div class="center-container">
        <div class="search-bar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="botao"  type="submit"><img class="imagem" src="~/images/icons/search-icon.svg" /></button>
            </form>
            </div>
    

        <div class="container-card">
            @foreach (var item in Model.getEquipes)
            {
                <div class="card">
                    @if (item.iconeEquipe != null)
                    {
                        <img class="team-icon" src="data:image/png;base64,@Convert.ToBase64String(item.iconeEquipe)" />
                    }
                    else
                    {
                        <img class="team-icon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                    }
                    <div class="container-info">
                       <h5>@item.nomeEquipe</h5>
               
                        <p class="card-title">@item.jogoEquipe</p>

                    </div>
                </div>
            }
    </div>
    </div>

        <div class="right-container">
            <div class="rhCamada1">
                <div class="rhCamada2">
                    
                </div>
            </div>


        </div>
    </div>





   



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <script src="~/js/EquipePage.js"></script>


