@model GamingGroove.Models.UsuarioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeUsuario" class="control-label"></label>
                <input asp-for="nomeUsuario" class="form-control" />
                <span asp-validation-for="nomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeCompleto" class="control-label"></label>
                <input asp-for="nomeCompleto" class="form-control" />
                <span asp-validation-for="nomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataNascimento" class="control-label"></label>
                <input asp-for="dataNascimento" class="form-control" />
                <span asp-validation-for="dataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha" class="control-label"></label>
                <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iconePerfil" class="control-label"></label>
                <input asp-for="iconePerfil" class="form-control" />
                <span asp-validation-for="iconePerfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capaPerfil" class="control-label"></label>
                <input asp-for="capaPerfil" class="form-control" />
                <span asp-validation-for="capaPerfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fotosGaleria" class="control-label"></label>
                <input asp-for="fotosGaleria" class="form-control" />
                <span asp-validation-for="fotosGaleria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jogosFavoritos" class="control-label"></label>
                <select asp-for="jogosFavoritos" class="form-control" asp-items="Html.GetEnumSelectList<JogosEnum>()"></select>
                <span asp-validation-for="jogosFavoritos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="biografia" class="control-label"></label>
                <input asp-for="biografia" class="form-control" />
                <span asp-validation-for="biografia" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
