@model GamingGroove.Models.ComunidadeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ComunidadeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="comunidadeId" />
            <div class="form-group">
                <label asp-for="nomeComunidade" class="control-label"></label>
                <input asp-for="nomeComunidade" class="form-control" />
                <span asp-validation-for="nomeComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iconeComunidade" class="control-label"></label>
                <input asp-for="iconeComunidade" class="form-control" />
                <span asp-validation-for="iconeComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capaComunidade" class="control-label"></label>
                <input asp-for="capaComunidade" class="form-control" />
                <span asp-validation-for="capaComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jogosRelacionados" class="control-label"></label>
                <input asp-for="jogosRelacionados" class="form-control" />
                <span asp-validation-for="jogosRelacionados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricaoComunidade" class="control-label"></label>
                <input asp-for="descricaoComunidade" class="form-control" />
                <span asp-validation-for="descricaoComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCriacaoComunidade" class="control-label"></label>
                <input asp-for="dataCriacaoComunidade" class="form-control" />
                <span asp-validation-for="dataCriacaoComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
