.iconBackground3 {
    outline: double 6px #D169FF;
    background-color: rgb(236, 236, 236);
}

#icon3 {
    filter: hue-rotate(100deg) saturate(350%);
}
 
a {
    text-decoration: none;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1vw;
}

.left-container {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: baseline; 
}

#usersSearch {
    border-radius: 20px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    outline: 2px solid #00F0FF;
    padding-left: 18px;
    padding-block: 12px;
    margin-block: 14px;
    color: black;
    font-size: 14px;
}

.userSearch-container {
    height: 48vh;
    width: 290px;
    margin-top: 5vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    box-shadow: #D169FF 0px 0px 10px;
    outline: 2px solid #E3A5FF;
    background: #110B31;
}

.userSearch-title {
    font-family: Gamer;
    font-size: 28px;
    text-transform: uppercase;
    width: 270px;
    text-align: center;
}

.usersList {
    background: none;
    height: 90%;
    width: 100%;
    padding-inline: 5px;
    padding-block: 10px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usersList-items {
    height: 60px;
    width: 250px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-block: 20px;
    gap: 10px;
    font-family: Play;
    cursor: pointer;
}

.divLine {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #222B58,#E3A5FF,#222B58);
}

.usersList-items:hover {
    transition: 0.8s;
    background-color: #e2a5ff79;
    .list-userIcon {
        outline: #00F0FF solid 2px;
        box-shadow: #00F0FF 0px 0px 8px;
    }
    .userName {
        color: #00F0FF;
    }
}

.usersList-items:not(:hover){
    transition: 0.8s;   
}

.list-userIcon {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    object-fit: cover;
    background-color: white;
}

.userName {
    font-size: 14px;
}



















.center-container {
    height: 87.7vh;
    width: 46vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    min-width: 400px;
    font-family: Play
}

.userButton-container {
    display: none;
}

.findCommunities-title {
    font-size: 1.5rem;
}

#communitiesSearch {
    border-radius: 20px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    outline: 2px solid #00F0FF;
    padding-left: 18px;
    padding-block: 16px;
    margin-bottom: 20px;
    color: black;
    width: 25vw;
}

.findCommunities {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findCommunities-container {
    width: 100%;
    height: 75vh;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    border: 2px solid #E3A5FF;
    box-shadow: #D169FF 0px 0px 10px;
}

.findCommunities-list {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(130px, 1fr));
    align-content: start;
    height: 100%;
    width: 100%;
    gap: 16px;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
}

.findCommunities-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232B58;
    border-radius: 8px;
    width: fit-content;
    text-align: center;
    gap: 10px;
    font-size: 12px;
    padding: 8px;
}

.findCommunities-items:hover {
    transition: 0.8s;
    background-color: #7383C5;
    border: none;
    box-shadow: none;
    .communityListName {
        transition: 0.8s;
        color: #00F0FF;
    }
}

.findCommunities-items:not(:hover) {
    transition: 1.2s;
}

.findCommunitiesItems-container {

}

.communityIcon {
    height: 105px;
    width: 125px;
    object-fit: cover;
    border-radius: 6px;
    background-color: white;
}

.communityInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.communityListName {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.communityMembers {
    font-size: 10px;
    color: #E3A5FF;
}

.community-games-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    min-height: 25px;
    gap: 10px;
}

.community-games-background {
    height: 25px;
    width: 25px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: solid 1px #0277F9;
    overflow: hidden;
}

.community-games-background img {
    height: 20px;
    width: 20px;
}








.right-container {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: baseline; 
}

.myCommunities {
    background-color: #232B58;
    height: 60vh;
    width: 290px;
    margin-top: 5vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: black 2px 2px 6px;
}

.listTitle {
    font-family: Gamer;
    font-size: 28px;
    text-transform: uppercase;
    width: 270px;
    text-align: center;
}

.communitiesList {
    background-color: #111738;
    height: 90%;
    width: 100%;
    padding-inline: 15px;
    padding-block: 10px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.communities-items {
    height: 60px;
    width: 230px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    padding-block: 35px;
    gap: 10px;
    font-family: Play;
    cursor: pointer;
}

.communities-items:hover {
    transition: 0.8s;
    background-color: #232B58;
    .list-communityIcon {
        border: #00F0FF solid 1px;
        box-shadow: #00F0FF 0px 0px 8px;
    }
    .communityName {
        color: #00F0FF;
    }
}

.communities-items:not(:hover){
    transition: 0.8s;   
}

.list-communityIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.communityName {
    font-size: 14px;
}

.list-numberOfMembers {
    color: #00F0FF;
    font-size: 12px;
}



#usersModal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}
#usersModal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: none;
}




@media (max-width: 1200px)
{    
    main {
        margin-top: 0;
    }
    header{
        position: fixed;
        width: 100%;
        height: 100px;
    }
    .main-container {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }
    .left-container {
        display: none;
    }
    .center-container {
        position: static;
        left: 0;
        transform: none;
        margin-top: 94px;
        width: 100%;
        justify-content: start;
        align-items: center;
        max-width: 700px;
        overflow: auto;
    }
    .centerContainer-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .userButton-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: baseline;
        padding-inline: 5vw;
        margin-bottom: 18px;
    }
    .userButton-container:hover {
        .searchUsers-button {
            background-color: #E3A5FF;
            box-shadow: none;
        }
        .searchUsers-button  div{            
            color: black;
        }
        .searchUsers-button img {
            filter: brightness(0);
        }
    }
    .searchUsers-button {
        background: none;
        border-radius: 6px;
        border: 2px solid #E3A5FF;
        box-shadow: #D169FF 0px 0px 8px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding-right: 10px;
    }    
    .searchUsers-button div{
        color: #E3A5FF;
    }
    .searchUsers-button img {
        height: 24px;
        width: 24px;
    }
    #communitiesSearch {
        height: 0px;
        padding-block: 14px;
        width: 260px;
        font-size: 14px;
        margin-top: 15px;
    }
    .findCommunities {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .findCommunities-container {
        width: 100%;
        height: fit-content;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        align-items: start;
        justify-content: start;
    }   
    .findCommunities-list {
        height: fit-content;
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(110px, 1fr));
        align-content: start;
        gap: 16px;
        overflow-x: hidden;
        padding: 5px;
    }
    .findCommunities-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #232B58;
        border-radius: 4px;
        width: 120px;
        text-align: center;
        gap: 10px;
        font-size: 12px;
        padding: 8px;
    }
    .communityIcon {
        height: 85px;
        width: 105px;
        object-fit: cover;
        border-radius: 6px;
        background-color: white;
    }   
    .communityInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .communityListName {
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .communityMembers {
        font-size: 10px;
        color: #E3A5FF;
    }   
    .community-games-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 50px;
        min-height: 25px;
        gap: 10px;
    } 
    .community-games-background {
        height: 25px;
        width: 25px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        outline: solid 1px #0277F9;
        overflow: hidden;
    }  
    .community-games-background img {
        height: 20px;
        width: 20px;
    }
    .right-container {
        display: none;
    }
    ::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #2b356c;
        border-radius: 6px;
        display: none;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #E3A5FF;
        border-radius: 6px;
        display: none;
    }
    .userSearch-container {
        height: 50vh;
        margin: 0;
    }
}

@media (max-width: 550px) {
    .userSearch-container {
        height: 70vh;
    }
    .findCommunities-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #232B58;
        border-radius: 4px;
        
        text-align: center;
        gap: 10px;
        font-size: 12px;
        padding: 4px;
    }
    .communityIcon {
        height: 70px;
        width: 90px;
        object-fit: cover;
        border-radius: 6px;
        background-color: white;
    }   
    .communityInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .communityListName {
        font-size: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .communityMembers {
        font-size: 10px;
        color: #E3A5FF;
    }   
}



/* .container{
    margin: 0px;
    padding: 0px;
    
}

.team-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: start;
    border: 1px solid white;
    border-radius: 5px; 
}

.modal-header{
background-color: #232B58;
}

.modal-body{
background-color: #232B58;
}

.modal-footer{
background-color: #232B58;
}

.criarComunidade{
width: 20px;
}

.textoCentral{
    font-family: Gamer;
}

.containerCard2{
width: 100%;
display: flex;
padding: 10px;
}

.community-icon{
text-align: end;
border-radius: 5px;
width: 75%;
height: 60%;
margin: 5px;
}

.nomedousuario{
    margin: 10px;
    font-family: Play;
    font-size: 100%;
}


.team-icon-comunity{
    width: 75%;
    height: 50%;
    border-radius: 5px;
    margin: 5px;

}

.user-card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.community-info{
width: 100%;
display: grid;
text-align: center;
margin: 0;
padding: 0;
font-size: 120%;
font-family: Play;


}






.card-img-comunity{
width: 10px;
height: 10px;
}

.minhasComunidades{
display: flex;
justify-content: center;
border-radius: 5px;
width: 10vw;
font-family: Play;
}

#minhasComunidades{
margin-bottom: 15px;
margin-top: 10px;
display: flex;
justify-content: center;

}

.internalContainer2{
width: 100vw;
height: 100%;
display: flex;
justify-content: center;
text-align: center;
}

.card-body{
margin: 0;
padding: 0;
transition: background-color 0.3s;
display: flex;
flex-direction: column;
background-color: #2b356c;  
width: 100%;
height: 100%;
}


.card-body:hover{
    transition: 0.7s;
    background-color: #D169FF;
}

.card-body:not(:hover){
    transition: 0.7S;
}

.user-icon{
width: 50px;
height: 50px;
display: flex;
align-items: center;
border: 1px solid white;

}

.cardTodosUsuarios:hover{
transition: 0.7s;
background-color: #D169FF;
}

.cardTodosUsuarios{
width: 100%;
height: 70px;
cursor: pointer;
background-color: #2b356c;
display: grid;
justify-content: start;
padding: 10px;



}

.gridContainerFlow2{
width: 100%;
height: 60vh;
display: flex;
gap: 10px;
flex-direction: column;
text-align: center;




}

.NavbarContainer{
display: flex;
justify-content: space-between;
margin: 10px;
padding: 10px;
}


::-webkit-scrollbar {
width: 9px;
background-color: #000000;
}

::-webkit-scrollbar-thumb {
background-color: #2b356c;
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #E3A5FF;
border-radius: 6px;

}



.cardMinhasComunidades:not(:hover){
    transition: 0.7S;
}
.cardMinhasComunidades:hover{
background-color: #D169FF;
transition: 0.7s;

}
.cardMinhasComunidades{
border-radius: 5px;
text-align: center;
padding: 5px;
margin: 8px;
border-radius: 5px;
cursor: pointer;
background-color: #2b356c;


}

.gridContainerFlow{
max-height: 62vh;
max-width: 40VW;
height: 100%;
overflow-x: hidden;
border-radius: 5px;
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-content: center;
padding: 5px;





}

.internalContainer{
background-color: #111738;
max-height: 62vh;
height: 60vh;
width: 100%;
border-radius: 5px;



}

.containerCard{
display: flex;
border-radius: 5px;
height: 100vh;
width: 100%;    
padding: 10px;


     
}

.card{
display: flex;
width: 100%;
height: 25vh;
background-color: transparent;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;


}

.rhCamada1{
background-color: #232B58;
height: 100%;
margin: 10px;
text-align: center;
padding: 10px;
border-radius: 5px;

}

.tituloMinhasComunidades{
    font-family: Gamer;
}

.tituloUsuarios{
    font-family: Gamer;
    
}

#searchInputUsuario{
    display: flex;
    justify-content: center;
    width: 100%;
}

.rhCamada2{
background-color: #111738;
height: 82%;
margin: 5px;
text-align: center;
border-radius: 5px;
padding: 10px;
display: flex;
overflow-x: auto;


}



.lfCamada1{
background-color: #232B58;
height: 80vh;
width: 17vw;
margin: 10px;
text-align: center;
padding: 10px;
border-radius: 5px;
}

.lfCamada2{
background-color: #111738;

margin: 5px;
text-align: center;
border-radius: 5px;
overflow-y: auto;
}

.main-container {

height: 100%;
width: 95vw;    
display: flex;
flex-direction: row;
justify-content: space-between;
padding-inline: 20px;
color: white;
text-align: center;
border-radius: 5px;

}

.left-container {
height: 100%;
width: 16vw;
height: 75vh;

border-radius: 5px;

}

.center-container {
height: 100%;
width: 40vw;
height: 80vh;
background-color: #232B58;
border-radius: 5px;

}

 */


