*{
    font-family: Gamer;
}
.main-container{
    
}

.iconBackground3 {
    outline: double 6px #D169FF;
    background-color: rgb(236, 236, 236);
}

#icon3 {
    filter: hue-rotate(100deg) saturate(350%);
}


body{
    margin: 0;
    padding: 0;
}        
.container{
    margin: 0px;
    padding: 0px;
    
}


.team-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: start;
    border: 1px solid white;
    border-radius: 5px; 
}

.modal-header{
background-color: #232B58;
}

.modal-body{
background-color: #232B58;
}

.modal-footer{
background-color: #232B58;
}

.criarComunidade{
width: 20px;
}


.containerCard2{
width: 100%;
display: flex;
padding: 10px;
}
.community-icon{
text-align: end;
border-radius: 5px;
width: 75%;
height: 50%;
margin: 5px;
}

.nomedousuario{
    margin: 10px;
    
}


.team-icon-comunity{
    width: 75%;
    height: 50%;
    border-radius: 5px;
    margin: 5px;

}
.communityItems{
    width: 100%;
}
.user-card-body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.community-info{
width: 100%;
display: grid;
text-align: center;
margin: 0;
padding: 0;
font-size: 120%;


}

.card-textTodosUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.card-img-comunity{
width: 10px;
height: 10px;
}

.minhasComunidades{

border-radius: 5px;
}

#minhasComunidades{
margin-bottom: 15px;
margin-top: 10px;

}

.internalContainer2{
width: 100vw;
height: 100%;
display: flex;
justify-content: center;
text-align: center;
}

.card-body{
margin: 0;
padding: 0;
transition: background-color 0.3s;
display: flex;
flex-direction: column;
background-color: #2b356c;  
width: 100%;
height: 100%    ;
}


.card-body:hover{
    transition: 0.7s;
    background-color: #D169FF;
}

.card-body:not(:hover){
    transition: 0.7S;
}

.user-icon{
width: 50px;
height: 50px;
display: flex;
align-items: center;
border: 1px solid white;

}

.cardTodosUsuarios:hover{
transition: 0.7s;
background-color: #D169FF;
}

.cardTodosUsuarios{
width: 100%;
height: 70px;
cursor: pointer;
background-color: #2b356c;
display: grid;
justify-content: start;
padding: 10px;



}

.gridContainerFlow2{
width: 100%;
height: 60vh;
display: flex;
gap: 10px;
flex-direction: column;
text-align: center;




}

.NavbarContainer{
display: flex;
justify-content: space-between;
margin: 10px;
padding: 10px;
}


::-webkit-scrollbar {
width: 9px;
background-color: #000000;
}

::-webkit-scrollbar-thumb {
background-color: #2b356c;
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #E3A5FF;
border-radius: 6px;

}


.ComunidadesUsuario{

overflow: auto; 
max-height: 70vh;
border-radius: 5px;

}

.cardMinhasComunidades:not(:hover){
    transition: 0.7S;
}
.cardMinhasComunidades:hover{
background-color: #D169FF;
transition: 0.7s;

}
.cardMinhasComunidades{
border-radius: 5px;
text-align: center;
padding: 5px;
margin: 8px;
border-radius: 5px;
cursor: pointer;
background-color: #2b356c; 

}

.gridContainerFlow{
max-height: 62vh;
max-width: 40VW;
height: 100%;
overflow-x: hidden;
border-radius: 5px;
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-content: center;
padding: 5px;





}

.internalContainer{
background-color: #111738;
max-height: 62vh;
height: 60vh;
width: 100%;
border-radius: 5px;



}

.containerCard{
display: flex;
border-radius: 5px;
height: 100vh;
width: 100%;    
padding: 10px;


     
}

.card{
display: flex;
width: 100%;
height: 35%;
background-color: transparent;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;


}

.rhCamada1{
background-color: #232B58;
height: 100%;
margin: 10px;
text-align: center;
padding: 10px;
border-radius: 5px;


}

.rhCamada2{
background-color: #111738;
height: 85%;
margin: 5px;
text-align: center;
border-radius: 5px;
padding: 10px;


}



.lfCamada1{
background-color: #232B58;
height: 80vh;
width: 17vw;
margin: 10px;
text-align: center;
padding: 10px;
border-radius: 5px;
}

.lfCamada2{
background-color: #111738;

margin: 5px;
text-align: center;
border-radius: 5px;
overflow-y: auto;
}

.main-container {

height: 100%;
width: 95vw;    
display: flex;
flex-direction: row;
justify-content: space-between;
padding-inline: 20px;
color: white;
text-align: center;
border-radius: 5px;

}

.left-container {
height: 100%;
width: 16vw;
height: 75vh;

border-radius: 5px;

}

.center-container {
height: 100%;
width: 40vw;
height: 80vh;
background-color: #232B58;
border-radius: 5px;


}



.right-container {
height: 100%;
width: 16vw;
height: 75vh;
border-radius: 5px;
}
