.iconBackground1 {
    outline: double 6px #D169FF;
    background-color: rgb(236, 236, 236);
}

#icon1 {
    filter: hue-rotate(100deg) saturate(350%);
}

a {
    text-decoration: none;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1vw;
}

.left-container {
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: baseline; 
}

.myCommunities {
    background-color: #232B58;
    height: 60vh;
    width: 290px;
    margin-top: 5vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: black 2px 2px 6px;
}

.listTitle {
    font-family: Gamer;
    font-size: 28px;
    text-transform: uppercase;
    width: 270px;
    text-align: center;
}

.communitiesList {
    background-color: #111738;
    height: 90%;
    width: 100%;
    padding-inline: 15px;
    padding-block: 10px;
    overflow: auto;
}

.communities-items {
    height: 60px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    padding-block: 35px;
    gap: 10px;
    font-family: Play;
    cursor: pointer;
}

.communities-items:hover {
    transition: 0.8s;
    background-color: #232B58;
    .list-communityIcon {
        border: #00F0FF solid 1px;
        box-shadow: #00F0FF 0px 0px 8px;
    }
}

.communities-items:not(:hover){
    transition: 0.8s;   
}

.list-communityIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.communityName {
    font-size: 14px;
}

.list-numberOfMembers {
    color: #00F0FF;
    font-size: 12px;
}




.center-container {
    height: 87.7vh;
    width: 37vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: baseline;
    gap: 20px;
    padding-top: 10px;
    min-width: 400px;
    max-width: 700px;
}

.buttons-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
}

#postModal-content {
    padding: 20px;
}

.createPost {
    font-family: Play;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: #E5ABFF 2px solid;
    padding-right: 15px;
    padding-left: 8px;
    background: none;
    border-radius: 4px;
    margin-right: 37px;
    letter-spacing: 1px;
    color: #E5ABFF;
}

.createPost:hover {
    transition: 0.6s;
    background-color: #E5ABFF;
    color: black;
    font-weight: bold;
}

.post-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 10px;
}

.post {
    width: 93%;
    background-color: #232B58;
    box-shadow: black 0px 4px 4px;
    padding-block: 20px;
    padding-inline: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Play;
    box-shadow: black 2px 2px 6px;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
    border-radius: 40px;
    color: #ffffff;
}

.user-container:hover {
    transition: 0.4s;
    padding: 0px 30px 0px 0px;
    background-color: #364286;
    .userName {
        color: #00F0FF; 
    } 
}

.userIcon {
    height: 50px;
    width: 50px;
    background-color: white;
    object-fit: cover;
    border-radius: 50%;
}

.userName {
    letter-spacing: 1px;
}

.deletePost-button {
    background: none;
    border: none;
    font-family: Play;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.deletePost-button:hover {
    transition: 0.6s;
    color: #00F0FF;
    background-color: #5965a0;
}

.deletePost-button:not(hover) {
    transition: 0.6s;
} 

.post-communityIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.post-communityIcon:hover {
    transition: 0.4s;
    height: 45px;
    width: 45px;
    border: 1px solid white;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
}

.postText {
    color: white;
    text-align: justify;
}

.postImage {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    object-fit: cover;
}

.postNumbers {
    font-size: 13px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: 100%;
    gap: 20px;
}

.postButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postLikes:hover {
    transition: 0.6s;
    color: #00F0FF;
}

.postLikes-hidden {
    background: none;
    border: none;
}

.postComments {
    transition: 0.6s;
    color: #00F0FF;
}

.interactionButtons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#postButtons {
    height: 30px;
    filter: grayscale(100%) brightness(200%);
}

#postButtons:hover {
    transition: 0.7s;
    filter: none;
} 

#postButtons:not(:hover) {
    transition: 0.7s;
}

#postButtons-existLike {
    height: 30px;
}

.reportButton {
    height: 25px;
    cursor: pointer;
}

.reportButton:hover {
    transition: 0.7s;
    filter: grayscale(100%) brightness(200%);
}





.right-container {
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: end; 
}

.myTeams-box {
    background-color: #232B58;
    height: 60vh;
    width: 290px;
    margin-top: 5vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: black 2px 2px 6px;
}

.teamsListTitle {
    font-family: Gamer;
    font-size: 28px;
    text-transform: uppercase;
    width: 270px;
    text-align: center;
}

.teamsList {
    background-color: #111738;
    height: 90%;
    width: 100%;
    padding-inline: 15px;
    padding-block: 10px;
    overflow: auto;
}

.teamsItems {
    height: 60px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    padding-block: 35px;
    gap: 30px;
    font-family: Play;
    cursor: pointer;
    padding-top: 42px;
}

.teamsItems:hover {
    transition: 0.8s;
    background-color: #232B58;
    .list-communityIcon {
        border: #00F0FF solid 1px;
        box-shadow: #00F0FF 0px 0px 8px;
    }
}

.teamsItems:not(:hover){
    transition: 0.8s;   
}

.list-teamIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.teamName {
    font-size: 14px;
}

.crownIcon-list {
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: -65px;
    margin-top: -60px;
}




.center-container {
    height: 87.7vh;
    width: 46vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-top: 10px;
    min-width: 400px;
    font-family: Play
}

.findTeams-title {
    font-size: 1.5rem;
}

#teamsSearch {
    border-radius: 20px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    outline: 2px solid #00F0FF;
    padding-left: 18px;
    padding-block: 16px;
    margin-bottom: 20px;
    color: black;
    width: 25vw;
}

.findTeams {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findTeams-container {
    width: 100%;
    height: 75vh;
    border-radius: 8px;
    padding: 5px;
    background-color: #232B58;
    box-shadow: #000000 2px 2px 6px;
}

.findTeams-list {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-content: start;
    height: 100%;
    width: 100%;
    gap: 4px;
    overflow: auto;
    overflow-x: hidden;
    padding: 4px;
}

.findTeams-items {
    width: 100%;
    height: fit-content;
    background-color: #414A77;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    justify-content: space-between;
}

.findTeams-items:hover {
    transition: 0.8s;
    background-color: #7383C5;
    .teamName {
        transition: 0.8s;
        color: #00F0FF;
    }
    .teamGame {
        transition: 0.8s;
        color: #E3A5FF;
    }
    .teamIcon {
        transition: 0.8s;
        border: 1px solid #00F0FF;
    }
}

.findTeams-items:not(:hover) {
    transition: 1.6s;
    .teamName {
        transition: 1.6s;
    }
    .teamGame {
        transition: 1.6s;
    }
    .teamIcon {
        transition: 1.6s;
    }
}

.teamInfo-container{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 15px;
}

.teamName {
    font-size: 16px;
}

.teamGame {
    font-size: 12px;
    color: #00F0FF;
}

.teamInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.teamIcon {
    height: 55px;
    width: 55px;
    border-radius: 4px;
    background-color: white;
    object-fit: cover;
}

.teamNumberOfMembers {
    padding-inline: 10px;
}








#commentsModal-dialog {
    display: flex;
    align-items: center;
}

#commentsModal-content {
    background-color: #232B58;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: #000000 2px 2px 4px;
    border-radius: 8px;
}

.commentsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.userIcon-post {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.userIcon-post:hover {
    border: 1px solid #00F0FF;
    box-shadow: #00F0FF 0px 0px 6px;
}

.modal-title {
    margin-top: 10px;
    letter-spacing: 1px;
}

.modal-title span {
    color: #00F0FF;
}

.closeButton {
    font-family: Play;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.closeButton:hover {
    transition: 0.6s;
    color: #00F0FF;
}

.commentsList {
    background-color: #111738;
    width: 95%;
    height: 50vh;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.comment-container {
    background-color: #414A77;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 95%;
    border-radius: 6px;
    gap: 10px;
}

.commentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.commentUser {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 15px;
    border-radius: 20px;
}

.commentUser:hover {
    transition: 0.6s;
    padding: 0px 30px 0px 0px;
    background-color: #5965a0;
    .userName-comment {
        color: #00F0FF; 
    } 
}

.userIcon-comment {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;

}
.userName-comment {
    color: #ffffff;
}

.commentDateTime {
    color: rgb(178, 178, 178);
    font-size: 12px;
    font-style: italic;
}

.commentContent {
    text-align: justify;
}

.userComment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-inline: 10px;
    gap: 10px;
}

.userComment-text {
    border: none;
    border-radius: 6px;
    padding-block: 5px;
    padding-inline: 8px;
    width: 100%;
    height: 10vh;
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 14px;
    color: #E3A5FF;
    background-color: #111738;
    resize: none;
    border: 2px solid #111738;
    text-align: justify;
}

.userComment-input:focus {
    outline: none;
}

.sendComment-button {
    font-family: PlayMeGames;
    padding-inline: 40px;
    padding-block: 5px;
    border: none;
    background-color: #000000;
    border-radius: 6px;
    color: #E5ABFF;
    letter-spacing: 1px;
}

.sendComment-button:hover {
    transition: 0.6s;
    background-color: #AFD3FF;
    color: black;
}

.sendComment-button:not(:hover) {
    transition: 0.6s;
}





#likesModal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#likesModal-content {
    background-color: #222B58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    text-align: center;
    max-width: 350px;
}

.likesHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.userIcon-post {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.userIcon-post:hover {
    border: 1px solid #00F0FF;
    box-shadow: #00F0FF 0px 0px 6px;
}

.modal-title {
    margin-top: 10px;
    letter-spacing: 1px;
}

.modal-title span {
    color: #00F0FF;
}

.closeButton {
    font-family: Play;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.closeButton:hover {
    transition: 0.6s;
    color: #00F0FF;
}

.likesList {
    background-color: #111738;
    width: 95%;
    height: 50vh;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.likes-container {
    padding-block: 8px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 95%;
    border-radius: 6px;
    gap: 6px;
}

.likes-container:hover {
    transition: 0.7s;
    background-color: #414A77;
}

.likes-container:not(:hover) {
    transition: 1.4s;
}

.likes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.likeUser {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 15px;
    border-radius: 20px;
}

.likeUser:hover {
    transition: 0.6s;
    padding: 0px 30px 0px 0px;
    background-color: #5965a0;
    .userName-like {
        color: #00F0FF; 
    } 
}

.userIcon-like {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;

}
.userName-like {
    color: #ffffff;
}




#imageModal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageModal-content {
    height: fit-content;
    width: fit-content;
    max-height: 80vh;
    width: 80vw;
}





#myCommunitiesModal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myCommunitiesModal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background: none;
}
.myCommunities {
    margin: 0;
}
.closeModal {
    margin-top: 20px;
    border: none;
    background: black;
    box-shadow: #D169FF 0px 0px 10px;
    border-radius: 6px;
    padding-block: 6px;
    padding-inline: 20px;
}
.closeModal-close:hover {
    font-weight: bold;
    background: #AFD3FF;
    color: black;
    box-shadow: none;
    transition: 0.7s;
}
.closeModal:not(:hover) {
    transition: 0.7s;
}

.myTeams-box {
    margin: 0;
}






#teamsModal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4%;
}

#teamsModal-content {
    background-color: #111738;
    padding-block: 30px;
    padding-inline: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 1px solid #E5ABFF;
    box-shadow: #D169FF 0px 0px 6px;
    border-radius: 8px;
    width: fit-content;
    font-family: Play;
}

.teamFirstContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teamHeader {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.teamName-modal {
    padding-block: 2px;
    padding-inline: 30px;
    background-color: #7383C5;
    border-radius: 4px;
}

.teamInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: baseline;
}

.teamGame-modal {
    color: #00F0FF;
    font-size: 14px;
}

.teamGame-modal img {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    border: 1px white solid;
    object-fit: contain;
    padding: 2px;
}

.editTeamButton{
    height: 30px;
    width: 40px;
    background-color: #121433;
    border: solid white 1px;
    border-radius: 4px;
    color: #00F0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editTeamButton:hover {
    transition: 1s;
    background-color: #00F0FF;
    .report-icon {
        filter: brightness(0);
    }
    .editTeamButton-icon {
        filter: brightness(0);
    }
}

.editTeamButton img{
    height: 20px;
}

.teamIcon-modal {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 4px;
    background-color: white;
    outline: 1px white solid;
}

.teamButtons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.closeButton {
    height: fit-content;
    width: fit-content;
    border: none;
    background: none;
}

.joinButton {
    padding-block: 5px;
    padding-inline: 20px;
    background: none;
    border: 2px solid #E3A5FF;
    color: #E3A5FF;
    border-radius: 6px;
}

.joinButton:hover {
    transition: 0.7s;
    background-color: #E3A5FF;
    color: black;
}

.joinButton:not(:hover) {
    transition: 0.7s;
}

.teamSecondContainer {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    gap: 30px;
}

.teamDescription-container, .teamMembers-container, .teamRequests-container {
    height: 350px;
    width: 100%;
    border: 1px solid #E3A5FF;
    box-shadow: #D169FF 0px 0px 4px;
    border-radius: 8px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
}

.descriptionTitle, .teamMembers-title, .teamRequests-title {
    font-family: Gamer;
    text-transform: uppercase;
    font-size: 28px;
    padding: 10px;
}

.teamMembers-title {
    padding-bottom: 0;
}

.teamMembers-number {
    font-family: 'Black Ops One';
    font-size: 14px;
    color: #00F0FF;
}

.teamDescription-box, .teamMembers-list, .teamRequests-list {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.teamDescription-box {
    padding-inline: 20px;
}

.members-container {
    padding-block: 8px;
    padding-inline: 8px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 95%;
    border-radius: 6px;
    gap: 6px;
}

.members-container:hover {
    transition: 0.7s;
    background-color: #414A77;
    .userIcon-member {
        outline: 1px solid #00F0FF;
    }
    .userName-member {
        color: #00F0FF;
    }
}

.members-container:not(:hover) {
    transition: 1.4s;
}

.admIcon {
    height: 20px;
    width: 20px;
}

.member-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.memberHeader-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.request-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.memberUser {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 6px;
    border-radius: 20px;
}

.memberUser:hover {
    transition: 0.6s;
    padding: 0px 6px 0px 0px;
    background-color: #5965a0;
    .userName-like {
        color: #00F0FF; 
    } 
}

.userIcon-member {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;

}
.userName-member {
    font-size: 14px;
    color: #ffffff;
}

.teamRequest-buttons {
    display: flex;
    flex-direction: row;
    gap: 2px;
    
}

.teamRequest-submit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    height: 30px;
    width: 30px;
}

.teamRequest-submit:hover {
    transition: 0.6s;
    background-color: #5c6abd;
    border-radius: 4px;
}

.checkIcon-team {
    height: 12px;
    width: 12px;
}

.xIcon-team {
    height: 10px;
    width: 10px;
}


.closeButton {
    font-family: Play;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: -20px;
    margin-right: -25px;
}

.closeButton:hover {
    transition: 0.6s;
    color: #00F0FF;
}

.joinQuitButton {
    font-family: Play;
    color: #E5ABFF;
    background-color: #0E1A35;
    border: 2px solid #E5ABFF;
    padding-inline: 9px;
    padding-block: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    letter-spacing: 1px;
}

.joinQuitButton:hover {
    transition: 0.6s;
    background-color: #E5ABFF;
    color: #0E1A35;
    .leaveDeleteIcon {
        filter: brightness(0);
    }
}

.joinQuitButton:not(:hover) {
    transition: 0.6s;
    .leaveDeleteIcon {
        transition: 0.6s;
    }
}

.leaveDeleteIcon {
    height: 20px;
    width: 20px;
}













#deleteTeamModal-content {
    background-color: #222B58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    text-align: center;
    margin-top: 10vh;
    border-radius: 6px;
    border: 2px solid #93f8ff;
    box-shadow: #00F0FF 0px 0px 6px;
}





#editTeamModal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editTeamModal-content {
    background-color: #222B58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-inline: 30px;
    gap: 10px;
    text-align: center;
    margin-top: 10vh;
    border-radius: 6px;
    border: 1px solid #93f8ff;
    box-shadow: #00F0FF 0px 0px 6px;
    width: fit-content;
}

.editTeamHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.editTeamModal-title {
    font-size: 22px;
}

.modal-title {
    margin-top: 10px;
    letter-spacing: 1px;
}

.modal-title span {
    color: #00F0FF;
}

.closeButton-delete {
    font-family: Play;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: -21px;
    margin-right: -14px;
}

.closeButton-delete:hover {
    transition: 0.6s;
    color: #00F0FF;
}

.closeButton-edit {
    font-family: Play;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: -21px;
    margin-right: -26px;
}

.closeButton-edit:hover {
    transition: 0.6s;
    color: #00F0FF;
}

.editTeam-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.editTeam-form input {
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 12px;
    color: #E3A5FF;
    background-color: #111738;
    border: 2px solid #111738;
    border-radius: 4px;
    padding-block: 5px;
    width: 260px;
    padding-inline: 15px;
}

.favGames-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    gap: 2vh;
}

.profileImage-input input[type="file"]{
    display: none;
}

.imageInput-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imageInput {
    height: 40px;
    width: 150px;
    color: #E3A5FF;
    background-color: #111738;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 10px;
    gap: 10px;
}

.uploadIcon {
    height: 20px;
}

.imageInput:hover {
    transition: 0.7s;
    color: black;
    background-color: #AFD3FF;
    .uploadIcon {
        filter: brightness(0);
    }
}

.imageInput:not(:hover) {
    transition: 0.7s;
}

.editTeam-form select{
    font-size: 12px;
    color: #E3A5FF;
    background-color: #111738;
    border: none;
}

.editTeam-form select:hover {
    transition: 0.7s;
    color: black;
    font-weight: bold;
    background-color: #AFD3FF;
    .uploadIcon {
        filter: brightness(0);
    }
}

.editTeam-form select:not(:hover) {
    transition: 0.7s;
}

.form-control option {
    color: rgb(255, 255, 255);
    background-color: #111738;
}

.teamDescription-edit {
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 12px;
    color: #E3A5FF;
    background-color: #111738;
    height: 15vh;
    width: 20vw;
    resize: none;
    border: 2px solid #111738;
    border-radius: 8px;
    min-width: 190px;
    padding: 10px;
    text-align: justify;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #111738;
}

::-webkit-scrollbar-thumb {
    background-color: #2b356c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E3A5FF;
    border-radius: 6px;
}

.submit-button {
    font-family: Play;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-inline: 20px;
    padding-block: 15px;
    color: white;
    background-color: #110B31;
    border: none;
    border-radius: 6px;
    margin-top: 50px;
}

.submit-button:hover {
    font-weight: bold;
    background: #AFD3FF;
    color: black;
    box-shadow: none;
    transition: 0.7s;
}

.submit-button:not(:hover) {
    transition: 0.7s;
}


.modalCloseButton {
    font-family: Play;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-inline: 20px;
    padding-block: 15px;
    color: white;
    background-color: #110B31;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
}

.modalCloseButton:hover {
    font-weight: bold;
    background: #AFD3FF;
    color: black;
    box-shadow: none;
    transition: 0.7s;
}

.modalCloseButton:not(:hover) {
    transition: 0.7s;
}



@media (max-width: 1050px) {
    main {
        margin-top: 0;
    }
    header{
        position: fixed;
        width: 100%;
        height: 100px;
    }
    .main-container {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        gap: 10px;
    }   

    .myCommunities {
        height: 80vh;
        width: 320px;
    }
    
    .myTeams-box {
        height: 80vh;
        width: 320px;
    }

    .center-container {
        margin-top: 100px;
        height: 100%;
        width: 100%;
        position: static;
        left: none;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 20px;
        padding-top: 10px;
        padding-inline: 10px;
        margin-inline: 0;
        max-width: 550px;
    }
    .buttons-container {
        font-family: Play;
        display: flex;
        padding-inline: 10px;
        font-size: 14px;
    }
    .buttons-container button{
        padding-block: 10px;
        padding-inline: 15px;
        border-radius: 6px;
        background: none;
        border: none;
        box-shadow: #D169FF 0px 0px 10px;
    }     
    .createPost {
        align-items: center;
        margin: 0;
        margin-left: 10px;
    }
    .post-container {
        justify-content: baseline;
        padding: 0;
        overflow: visible;
    }
    .post {
        width: 99%;
        padding-inline: 0;
        padding-block: 20px;
    }
    .postContent {
        padding: 0;
    }
    .postHeader {
        padding-inline: 20px;
    }
    .postText {
        padding-inline: 20px;
    }
    .postImage {
        width: 100%;
        border-radius: 0;
    }
    .postNumbers {
        padding-inline: 20px;
    }
    .postButtons {
        padding-inline: 20px;
    }
    ::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
        display: none;
    } 
    ::-webkit-scrollbar-thumb {
        background-color: #2b356c;
        border-radius: 6px;
        display: none;
    }  
    ::-webkit-scrollbar-thumb:hover {
        background-color: #E3A5FF;
        border-radius: 6px;
        display: none;        
    }
    .left-container {
        display: none;
    }
    .right-container {
        display: none;
    }

    #teamsModal-content {
        width: 100%;
        min-width: 350px;
    }
    .teamFirstContainer {
    }
    .teamHeader {
        gap: 8px;
    }
    .teamIcon-modal {
        height: 85px;
        width: 85px;
    }
    .teamName-modal {
        font-size: 14px;
        padding-inline: 8px;
    }
    .teamSecondContainer {
        overflow-x: auto;
        gap: 10px;
    }
    .teamDescription-container, .teamMembers-container, .teamRequests-container {
        min-width: 90%;
    }
    .editTeamButton {
        position: relative;
        margin-left: -40px;
    }
}


@media (max-width: 680px)
{
    #imageModal-content {
        max-height: 100vw;
        width: 100vh;
        transform: rotate(90deg);
    }
}