* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: url(/images/backgrounds/homepage-background.png);
    background-size: cover;
    backdrop-filter: brightness(0.8);
    width: 100%;
    overflow: hidden;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center; 
    gap: 12%;
    text-align: center;
    margin-top: 8%;
}

.brand-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    max-width: 500px;
    margin-top: 4%;
}

.logo {
    height: 200px;
}

.slogan {
    color: white;
    font-family: PlayMeGames;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 2em;
}

.slogan-footer {
  display: none;
}

.forms-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.controls button:hover {
  transition: 0.7s;
  color: #00F0FF;
}

#login-active, #signup-acitve {
  color: #00F0FF;
}

.controls button {
  font-family: PlayMeGames;
  letter-spacing: 1px;
  font-size: 20px;
  margin-inline: 30px;
  border: none;
  background: none;
  color: white;
}

.card-front, .card-back {
  font-family: PlayMeGames;
  font-weight: 100;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 10px;
  box-shadow: #0277F9 0 0 20px 3px;
  border: solid #AFD3FF 2px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-block: 30px;
  max-width: 400px;
  min-width: 380px;
}

.access-title {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card-front {
  height: 365px;
}

.card-front input, .card-back input {
  font-family: 'Black Ops One';
  width: 250px;
  padding: 10px 6px 5px 45px;
  margin-block: 14px;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
}

input::placeholder {
  color: #888888;
}

input[type="date"] {
  color: #888888;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.card-front button, .card-back button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
  color: white;
  background: rgba(0, 0, 0, 0.603);
  box-shadow: #CF18EB 0px 0px 20px;
  margin-top: 30px;
}

.card-front button:hover, .card-back button:hover {
  background: #AFD3FF;
  color: black;
  box-shadow: #0277F9 0px 0px 20px 4px;
  transition: 0.8s;
}

.forgot-password {
  margin-top: 16px;
}

.card-front a {
  color: #e850ff;
  letter-spacing: 1px;
  text-decoration: none;
}

.card-front a:hover {
  transition: 0.5s;
  color: #AFD3FF;
}

.form-group {
  position: relative;
}

.form-group img {
  height: 20px;
  opacity: 0.5;
  margin-right: -38px;
  margin-bottom: 3px;
}

footer {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 8.3%;
  
}

.login-alert {
  font-family: Play;
  font-weight: bold;
  font-size: 16px;
  color: red;
}

.text-danger {
  font-size: 12px;
  font-family: Play;
  font-weight: bold;
}



@media (max-width: 1100px){
  .main-container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start; 
    gap: 4vh;
    margin-top: 20px;
  }
  .brand-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .logo {
    height: 100%;
    width: 50%;
  }
  .slogan {
    color: white;
    font-family: PlayMeGames;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 1em;
    display: none;
  }
  .slogan-footer{  
    display: flex;
    position: fixed;
    bottom: 20px;
    color: white;
    font-family: PlayMeGames;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 1em;
    padding-inline: 20px;
    margin-bottom: 40px;
  }
  .forms-container {
    width: 100%;
    gap: 20px;
  }
  .controls {
    gap: 30px;
  }
  .controls button {
    font-family: PlayMeGames;
    letter-spacing: 1px;
    font-size: 20px;
    margin-inline: 0px;
    border: none;
    background: none;
    color: white;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .card-front, .card-back {
    width: 85%;
    min-width: 0;
  }
  .access-title {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .card-front input, .card-back input{
    width: 250px;
  }
}