@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
</head>
<body>
    <header>      
        <img class="logo" src="~/images/logos/gg-logo.png" alt="">
        <nav class="navbar">
            <a href="~/FeedPage"><img src="~/images/icons/feed-icon.svg" alt=""></a>
            <img src="~/images/icons/communities-icon.svg" alt="">
            <img src="~/images/icons/explore-icon.svg" alt="">
            <a href="~/EquipePage"><img src="~/images/icons/teams-icon.svg" alt=""></a>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <button id="menu-icon" class="menu-icon" onclick="openMenu()"></button>
            <nav id="listMenu" class="list-menu">
                <div class="list">
                    <a href="~/PerfilPage/@User.FindFirst(ClaimTypes.Name)?.Value">Perfil</a>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                </div>
            </nav>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login"></a>
            </li>
        }

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/Menu.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
