@model GamingGroove.Models.PublicacaoModel
@using System.Security.Claims




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />
    <link rel="stylesheet" href="~/css/FeedPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
</head>
<body>
    
            <header>
    <img class="logo" src="~/images/logos/gg-logo.png" alt="">
    <nav class="navbar">
        <img src="~/images/icons/feed-icon.svg" alt="">
        <img src="~/images/icons/communities-icon.svg" alt="">
        <img src="~/images/icons/explore-icon.svg" alt="">
        <img src="~/images/icons/teams-icon.svg" alt="">
    </nav>
    @if (User.Identity.IsAuthenticated)
    {
        <button id="menu-icon" class="menu-icon" onclick="openMenu()"></button>
        <nav id="listMenu" class="list-menu">
            <div class="list">
                <a href="~/PerfilPage/@User.FindFirst(ClaimTypes.Name)?.Value">Perfil</a>
                <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
            </div>
        </nav>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login"></a>
        </li>
    }
</header>

        <div class= "container">
        <div class="colunaEsquerda">
            asdsadasd
        </div>

        <div class="colunaCentral">

                

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="botaoPublicar">
                Publicar
            </button>
           
           <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Publicação</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-controller="Publicacao" asp-action="Create" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        
                                        <div class="form-group">
                                            <label asp-for="publicacaoId" class="control-label"></label>
                                            <select asp-for="publicacaoId" class="form-control" asp-items="ViewBag.publicacaoId"></select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="usuarioId" class="control-label"></label>
                                            <select asp-for="usuarioId" class="form-control" asp-items="ViewBag.usuarioId"></select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="comunidadeId" class="control-label"></label>
                                            <select asp-for="comunidadeId" class="form-control" asp-items="ViewBag.comunidadeId"></select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="formFileMultiple" class="form-label">Arquivos</label>
                                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label asp-for="textoPublicacao" class="control-label" >Texto</label>
                                            <input asp-for="textoPublicacao" class="form-control" placeholder="Escreva Aqui" maxlength="100" />
                                            <span asp-validation-for="textoPublicacao" class="text-danger"></span>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="dataPublicacao" class="control-label"></label>
                                            <select asp-for="dataPublicacao" class="form-control" asp-items="ViewBag.dataPublicacao"></select>
                                        </div>

                                        
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publicacoes">
                
            </div>
        </div>

        <div class="colunaDireita">
        asudhausdh
        </div>
    </div>



    <footer>
        <div>© 2023 - GamingGroove - Privacy</div>
    </footer>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <style>
        
    </style>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/FeedPage.js" asp-append-version="true"></script>
    <script src="~/js/Menu.js"></script>
 
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
