@model GamingGroove.Views.Shared.ViewModel


@using System.Security.Claims

@{
    ViewData["Title"] = "Explorar";
}

<title>Explorar</title>
<link rel="stylesheet" href="~/css/ExplorarPage.css" asp-append-version="true" />




<div class="main-container">
    
    
    
    <div class="left-container">
        <div class="lfCamada1">
            
            <h3>USUARIOS</h3>
            <form class="friendsList-form" role="search">
                <input id="friendsList-input" class="friendsList-input" type="search" placeholder="Buscar" aria-label="Search">
            </form>
                <div class="lfCamada2">
                   <div class="containerCard2">
            <div class="internalContainer2">
                <div class="gridContainerFlow2">
            
                    @foreach (var item in Model.getTodosUsuarios)
                        {   <a href="~/PerfilPage/@item.nomeUsuario"><div class="user-container"></div>           
                            <div class="cardTodosUsuarios">
                                <div class="user-card-body">
                                    <p class="card-textTodosUsuarios">
                                       
                                        @if (item.iconePerfil != null)
                                            {
                                                
                                                <img class="user-icon" src="data:image/png;base64,@Convert.ToBase64String(item.iconePerfil)" alt="Imagem de Perfil" /> 
                                                     
                                            }
                                                else
                                            {
                                                <img class="team-icon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />                
                                                    
                                            }
                                            <h3 class="nomedousuario">@item.nomeUsuario</h3>                                                   
                                    </p>
                                                 
                                </div>
                                
                            </div>
                              
                            </a>    
                        }
                </div>            
            </div>                
            
        </div>
                </div>
        </div>

        


    </div>

    <div class="center-container">
        <div class="TituloComunidades">
            <h1 class="textoCentral">DESCUBRA COMUNIDADES</h1>
        </div>
        <div class="NavbarContainer">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
            
            </form>

         </div> 
        <div class="containerCard">
            <div class="internalContainer">
                <div class="gridContainerFlow">
                    
                    @foreach (var item in Model.getComunidadesSugeridas)
                        {
                            int _comunidadeId = item.comunidadeId;
                            int numberOfMembers = Model.GetNumberOfMembersInCommunity(_comunidadeId);
                            <div class="card">
                                            
                                <div class="card-body">
                                        <a href="~/ComunidadePage/@item.comunidade.nomeComunidade"><div class="communityItems"></div>
                                        @if (item.comunidade.iconeComunidade != null)
                                            
                                            
                                            {
                                                <img class="community-icon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
                                                }
                                                else
                                                {
                                                <img class="team-icon-comunity" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                                
                                            }  
                                                <div class="community-info">
                                                    <div class="community-name">@item.comunidade.nomeComunidade</div>
                                                    <div class="community-members">Membros: @numberOfMembers</div>                                        
                                                </div>

                                        </a>
                                </div>
                            </div>
                                
                        }
                </div>            
            </div>                
            
        </div>
        
    </div>

    <div class="right-container">

        

        <div class="rhCamada1">
            <h3 id="minhasComunidades">MINHAS COMUNIDADES</h3>
            <div class="rhCamada2">
                <div class="minhasComunidades">
                    <div class="ComunidadesUsuario">
                        @foreach (var item in Model.getComunidadesUsuario)
                            {   <a href="~/ComunidadePage/@item.comunidade.nomeComunidade"><div class="communityItems"></div>
                                <div class="cardMinhasComunidades">
                                    @if (item.comunidade.iconeComunidade != null)
                                        {
                                                <img class="community-icon" src="data:image/png;base64,@Convert.ToBase64String(item.comunidade.iconeComunidade)" alt="Imagem de Perfil" />
                                        }
                                                else
                                            {
                                                <img class="community-icon" src="~/images/icons/empty-icon.png" alt="Imagem de Perfil" />
                                        }  
                                      
                                    <h2>@item.comunidade.nomeComunidade</h2>

                                </div>
                                </a>
                            }
                    </div>    
                </div>
            </div>
        </div>

        
    </div>

</div>

<style>

</style>





 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="~/js/ExplorarPage.js"></script>


