@model GamingGroove.Models.UsuarioComunidadeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UsuarioComunidadeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="usuarioComunidadeId" />
            <div class="form-group">
                <label asp-for="usuarioId" class="control-label"></label>
                <select asp-for="usuarioId" class="form-control" asp-items="ViewBag.usuarioId"></select>
                <span asp-validation-for="usuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comunidadeId" class="control-label"></label>
                <select asp-for="comunidadeId" class="form-control" asp-items="ViewBag.comunidadeId"></select>
                <span asp-validation-for="comunidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargo" class="control-label"></label>
                <select asp-for="cargo" class="form-control"></select>
                <span asp-validation-for="cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataVinculoComunidade" class="control-label"></label>
                <input asp-for="dataVinculoComunidade" class="form-control" />
                <span asp-validation-for="dataVinculoComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
